@import "./src/styles/colors.scss";
@import "./src/styles/left.scss";
@import "./src/styles/center.scss";
@import "./src/styles/right.scss";
@import "./src/styles/control_center.scss";
@import "./src/styles/music.scss";

* {
    all: unset; // Unsets everything so you can style everything from scratch
}

.bar {
    background-color: $background_black;
    color: white;
}