.title {
    margin: 0 4px 0 4px;
    font-size: 14px;
    font-weight: 800;
}

.separator {
    color: $background_white;
}

.artist {
    margin: 0 4px 0 4px;
    font-size: 14px;
    color: $background_white;
}