.music_box {
    margin: 10px 25px 0 25px;
    background-color: $background_gray;
    border-radius: 25px;
}

.music_image {
	min-height: 280px;
	min-width: 280px;
    border-radius: 20px;
	margin: 20px 0 20px 0;
}

.music_title {
    font-size: large;
    font-weight: 800;
}

.music_artist {
    color: rgba(255, 254, 254, 0.7);
}

.music_progress_bar scale trough {
    background-color: $background_gray;
    border-radius: 24px;
}

.music_progress_bar scale trough highlight {
	all: unset;
    background-color: $background_white;
	border-radius: 24px;
}

.volume_progress_bar scale trough {
    background-color: $background_gray;
	border-radius: 24px;
    margin: 20px 28px 24px 20px;
}

.volume_progress_bar scale trough highlight {
    all: unset;
    background-color: $background_white;
	border-radius: 24px;
}